<a href="https://colab.research.google.com/github/SamridhiParihar/DATA_PREPROCESSING/blob/main/_HANDLING_IMBALANCED_DATASETS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#HANDLING IMBALANCED DATASETS
A dataset with an unqual class distrbution

In [ ]:
#importing the dependencies
import numpy as np
import pandas as pd

In [ ]:
credit_card_data= pd.read_csv('/content/credit_data.csv')

In [ ]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
53566,46047,-2.885416,-2.647887,1.903441,3.726885,3.800798,-1.644480,-1.924198,0.707696,-1.070468,...,0.284893,-0.268122,0.977417,0.136853,-1.144367,-0.535616,0.098494,0.305740,19.02,0.0
53567,46048,1.061410,0.045830,0.970401,1.102883,-0.490685,0.219968,-0.424285,0.235960,0.016498,...,0.033158,0.067127,0.053801,-0.010221,0.209877,-0.484136,0.057583,0.028018,28.70,0.0
53568,46048,-0.202740,0.295074,1.924698,1.009344,-0.235931,-0.272232,0.261015,-0.162146,-0.583849,...,0.321731,1.056540,0.093902,0.608566,-0.931546,0.466156,0.016695,-0.024568,54.81,0.0
53569,46048,-0.730116,0.796820,2.122484,-1.318082,0.019762,-0.857857,0.975752,-0.399896,0.359189,...,-0.149736,0.093479,-0.056586,0.650087,-0.473889,0.662115,0.060486,-0.208536,4.53,0.0
53570,46050,0.791672,-0.522991,0.036747,1.204803,-0.262390,-0.056153,0.263614,-0.130209,0.125423,...,0.013131,-0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#distribution of two classes
credit_card_data['Class'].value_counts()

0.0    53417
1.0      153
Name: Class, dtype: int64

In [ ]:
# this is highly imbalanced dataset
#0-legit transactions
#1- fraudalent transactions

In [ ]:
#seperating the legit and fraudlentdat
legit=credit_card_data[credit_card_data.Class==0]
fraud=credit_card_data[credit_card_data.Class==1]

In [ ]:
print(legit.shape,fraud.shape)

(53417, 31) (153, 31)

#Under-Sampling
it is a technique to handle imbalace data

In [ ]:
# taking 153 legit transactions out of 53417 datas same(similar) as that of fraudalent transaction...i,e fraud
#taking the random sampling

In [ ]:
legit_sample=legit.sample(n=153)

In [ ]:
legit_sample.shape

(153, 31)

In [ ]:
#concatenate the 2 dataframes
#1. fraud
#2. legit_sample
new_dataset=pd.concat([legit_sample,fraud],axis=0) # axis=0 addition row wise for columnwise axis=1

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
35388,38099,-3.294113,-2.511607,1.639039,1.107604,1.091560,-0.133364,1.637516,-1.318562,0.549382,...,-1.030863,0.057728,0.676265,0.166001,0.503874,0.567002,-0.237395,-1.005084,276.00,0.0
20662,31188,0.806650,-1.026959,0.947546,0.291036,-1.359384,-0.008890,-0.528930,0.170383,0.975504,...,-0.072688,-0.425974,-0.093647,0.403791,0.025902,0.906586,-0.075036,0.035954,195.67,0.0
10719,18149,-1.405387,-0.241518,2.012810,0.196927,-0.646815,1.257371,1.258148,0.199888,0.973755,...,0.343726,0.720491,0.518504,-0.373653,0.275347,-0.476094,-0.005552,0.125444,359.00,0.0
19327,30190,-1.416985,-1.932028,1.321694,-2.173934,0.324299,-1.484920,-1.988174,-0.723678,-1.443325,...,0.706459,0.053538,-0.187364,-0.181045,-0.696271,-0.347471,0.470380,0.103516,13.00,0.0
52051,45252,-0.516898,1.141048,1.286142,0.418350,0.413210,-0.315651,0.980308,-0.140811,-0.706892,...,0.199017,0.638831,-0.182367,0.113152,-0.147635,-0.408043,0.046379,0.138180,27.41,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
50211,44393,-4.617461,3.663395,-5.297446,3.880960,-3.263551,-0.918547,-5.715262,0.831040,-2.457034,...,2.698175,-0.027081,0.366775,-0.123011,-0.300457,-0.239996,-0.183463,-0.073360,1.00,1.0
50537,44532,-0.234922,0.355413,1.972183,-1.255593,-0.681387,-0.665732,0.059110,-0.003153,1.122451,...,0.220670,0.912107,-0.286338,0.451208,0.188315,-0.531846,0.123185,0.039581,1.00,1.0
52466,45463,-1.476893,2.122314,-1.229470,1.201849,-0.343264,-1.317704,-1.528142,-0.620953,-1.213040,...,1.186036,-0.040215,-0.238930,0.110144,0.045418,-0.569232,0.481019,-0.047555,1.00,1.0
52521,45501,1.001992,0.047938,-0.349002,1.493958,0.186939,0.190966,-0.001112,0.147140,0.580415,...,-0.334417,-1.014315,-0.128427,-0.946242,0.456090,-0.453206,0.046627,0.064698,105.99,1.0
52584,45541,-1.519244,2.308492,-1.503599,2.064101,-1.000845,-1.016897,-2.059731,-0.275166,-1.562206,...,1.307871,0.102826,-0.017746,0.149696,-0.096602,-0.369115,-0.019244,-0.208319,1.00,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    153
1.0    153
Name: Class, dtype: int64

In [ ]:
#now we have evenly distributed dataset